[Desktop Entry]
Type=Application
Exec=wine "/home/bruce/.wine/drive_c/Program Files (x86)/1Password 4/Agile1pAgent.exe"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=1Password Agent
Name=1Password Agent
Comment[en_GB]=Run the 1Password agent
Comment=Run the 1Password agent
